#header {
    text-align: center;
    border-bottom: 1px;
    border-bottom-color: black;
    border-bottom-style: solid;
    margin-left: auto;
    margin-right: auto;
    width: 66.66%;
}

#inputContainer {
    padding: 25px;
    margin-left: auto;
    margin-right: auto;
    width: 66.66%;
}

#fileUpload {
    text-align: center;
}

#result {
    margin-left: auto;
    margin-right: auto;
    width: 66.66%;
    text-align: center;
}
